body {
    margin: 10px;
    background-color: #222831;
    color: white;
}
h1{
    padding-top: 30px;
    padding-bottom: 30px;
}
#button {
    text-align: center;
    margin-top: 30px;
}

p{
    text-align: center;
    padding-top: 30px;
}